---

- name: Local registration marker

  hosts: localhost

  gather_facts: yes



  tasks:

    - name: Show registration info

      debug:

        msg: "Client {{ ansible_fqdn | default(inventory_hostname) }} registered to AWX inventory."

