---

- name: Register client into AWX

  hosts: localhost

  gather_facts: yes



  tasks:

    - name: Collect device facts

      setup:



    - name: Register host with AWX API

      uri:

        url: "http://192.168.1.11:30080/api/v2/hosts/"

        method: POST

        headers:

          Authorization: "Bearer {{ awx_token }}"

          Content-Type: "application/json"

        body_format: json

        body:

          name: "{{ ansible_hostname }}"

          inventory: 2

          variables: |

            ansible_host: "{{ ansible_default_ipv4.address }}"

            serial: "{{ ansible_product_serial }}"

        status_code: 201,400

      register: output



    - debug:

        var: output

